.contact {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;

        h1 {
            font-size: 80px;
            line-height: 88px;
        }

        span {
            font-weight: 300;
        }

    }

    .formContainer {
        flex: 1;
        position: relative;

        .phoneSvg {
            stroke: orange;
            position: absolute;
            inset: 0;
            margin: auto;
            z-index: -1;

            svg {
                object-fit: contain;
                width: 350px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            input,
            textarea {
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
            }

            button {
                padding: 20px;
                border: none;
                border-radius: 5px;
                background-color: orange;
                cursor: pointer;
                font-weight: 500;
                color: white;
            }

        }
    }

    .alertMsg {
        background-color: transparent;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
    }
}