.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;

    .imageContainer {
        height: 100%;
        position: absolute;
        top: 0;
        right: 180px;

        img {
            filter: drop-shadow(4px 0px 3px rgb(37, 42, 65));
        }

    }
}