@mixin imageStyles($imgUrl) {
    background-image: url($imgUrl);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
}

.parallax {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    h1 {
        font-size: 100px;
    }

    .mountains {
        @include imageStyles('/mountains.png');
        z-index: 3;
    }

    .planets {
        @include imageStyles('/planets.png');
        z-index: 2;
    }

    .stars {
        @include imageStyles('/stars.png');
        z-index: 1;
    }
}